body {
	background-color: yellow;
	font-weight: bold;
}


table {
	border-color: blue;
	border-style: dashed;
	border-width: 15px;
	empty-cells: hide;
	empty-cells: unset;
	padding: 8%;
	border-radius: 5%;
}